@import '../node_modules/ngx-toastr/toastr.css';

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

app-root {
  display: block;
  min-height: 100vh;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

app-footer {
  display: flex;
  width: 100%;
  flex-shrink: 0;
 
}


.goog-te-banner-frame,
.goog-te-gadget,
.goog-logo-link,
.goog-tooltip,
.goog-te-balloon-frame {
  display: none !important;
}

body {
  top: 0px !important;
}
/* Hide Google Translate Top Bar */
.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

body {
  top: 0px !important;
}

/* Hide Google logo & widget */
.goog-logo-link,
.goog-te-gadget {
  display: none !important;
}

/* Prevent page shift */
.skiptranslate iframe {
  display: none !important;
}

/* FIX TOASTR FOR MOBILE AND Z-INDEX */
.toast-container {
  z-index: 9999 !important;
}

@media (max-width: 768px) {
  .toast-container {
    width: 90% !important;
    right: 5% !important;
    left: 5% !important;
    top: 20px !important;
  }
  
  .ngx-toastr {
    width: 100% !important;
    padding: 15px 15px 15px 50px !important;
    font-size: 14px !important;
  }
}